*.jar
*.apk
.gradle/
build/
local.properties
*.iml
*.jks
!gradle-wrapper.jar
.idea/**
**/signing.properties
SVG/
app/libs/
app/release/*
app/src/main/res/Network/
app/src/main/res/drawable/arrows/